.ProgressSteps__paddings {
    margin-top: 50px;
}

.ProgressSteps__leftColumn {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.ProgressSteps__heading {
    text-align: center;
}

.ProgressSteps__Table {
    margin-top: 50px;
}

.ProgressSteps__leftItem:hover {
    background-color: rgb(51, 156, 255);
}